.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: #2009f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
}
.navigation .logo {
  font-size: 1.9em;
  font-weight: 700;
  transition: 0.7s ease;
}
.logo3 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.9em;
  justify-content: right;
  transition: 0.7s ease;
}
.logo2 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.9em;
  justify-content: right;
  transition: 0.7s ease;
}
.logo1 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.9em;
  justify-content: right;
  transition: 0.7s ease;
}
.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  padding-left: 30px;
  transition: 0.7s ease;
}

.navigatio a:hover {
  color: #0c48ec81;
}
.logo:hover {
  display: flex;
  color: #8793ff;
  transform: scale(1.1);
}
.logo1:hover {
  display: flex;
  color: #8793ff;
  transform: scale(1.1);
}
.logo2:hover {
  color: #8793ff;
  transform: scale(1.1);
}
.logo3:hover {
  color: #8793ff;
  transform: scale(1.1);
}
section {
  padding: 100px 0px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(sabry/112.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  margin-left: 20px;
  color: #000000;
  font-size: 3.3em;
  font-weight: 900;
}
.main h2 span {
  display: inline-block;
  margin-right: 30px;
  color: #0400ff;
  font-size: 0.7em;
  font-weight: 600;
}
.main-btn {
  color: #4fff09;
  background-color: #0e46ff;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
  margin: 30px;
  border: 2px solid #0004ff;
  margin-left: 50px;
}
.main-btn:hover {
  background-color: #1619e4;
  transform: scale(1.1);
}
s {
    padding: 100px 0px;
  }
.s {
    background-color: #707070;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
